

/* Practicing "Box" method*/
#search {
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
    background-color: white;
    display: flex; /* Make parent and Child a Flexbox element */
    justify-content: center; /* Centers both child elements */
    gap: 10px; /* Adds spacing between each child element */
}

/*Adding Flex box search bar */
/* Manipulating each seperate part*/
#search input {
    padding: 8px;
    font-size: 16;
}

#search button {
    padding: 8px 12px; /* Shorthand. paramter 1 = top,bottom */
                       /* paramater 2 = left, right */
    font-size: 16px;
    cursor: pointer;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 150px;
    gap: 20px;
}

.card {
    background-color: lightyellow;
    padding: 30px 10px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba (0,0,0,0.1);
    text-align: center;
    font-size: 14px;
    font-weight: 400; /*Boldness*/
    
}



/* Adding Global styles */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, #87cefa, #f2f2f2);
    background-color: #87cefa;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

@media (max-width: 600px){ /*Breakpoint for Phone Screens*/
    #results {
    grid-template-columns: 1fr; /* 1 full width column */
    gap: 20px;
}

.card {
    background-color: lightyellow;
    padding: 30px 10px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba (0,0,0,0.1);
    text-align: center;
    font-size: 14px;
    font-weight: 400; /*Boldness*/
    
}
}